<!--
  <mat-toolbar color="accent" class="flex-container">
   <p>{{ displayDateTime | async | date: "medium" }}
      Data provided by 'Powered by TfL Open Data' and 'Contains OS data © Crown copyright and database rights 2016'</p>

  </mat-toolbar>
-->

<footer color="accent" class="flex-container">
  <p>
    Site developed by
    <a href="https://garyallin.uk" target="_blank">Gary Allin</a>. 
  </p>
  
  <p>
    Data provided by
    <a
      href="https://tfl.gov.uk/corporate/terms-and-conditions/transport-data-service" target="_blank"
      >'Powered by TfL Open Data'</a
    >
    and 'Contains OS data © Crown copyright and database rights 2016'
  </p>
</footer>
