<section id="home">
  <div class="flex-containerXX home-wrapper">
    <div *ngFor="let item of tubeData" class="main">
      <h3
        [ngClass]="{
          'bakerloo-brown': item.id === 'bakerloo',
          'central-red': item.id === 'central',
          'circle-yellow': item.id === 'circle',
          'district-green': item.id === 'district',
          'hammerSmithCity-purple': item.id === 'hammersmith-city',
          'jubilee-silver': item.id === 'jubilee',
          'metropolitan-purple': item.id === 'metropolitan',
          'northern-black': item.id === 'northern',
          'piccadilly-blue': item.id === 'piccadilly',
          'victoria-blue': item.id === 'victoria',
          'waterlooCity-blue': item.id === 'waterloo-city',
          'TFL-rail-blue': item.id === 'TfL Rail',
          'DLR-blue': item.id === 'dlr',
          'LondonOverground-orange': item.id === 'london-overground',
          'elizabeth-purple': item.id === 'elizabeth'
        }"
      >
        <span *ngIf="item.id === 'circle'" routerLink="/circle"
          >{{ item.name }} <small class="small-text-super">line</small></span
        >
        <span *ngIf="item.id === 'bakerloo'" routerLink="/bakerloo"
          >{{ item.name }} <small class="small-text-super">line</small></span
        >
        <span *ngIf="item.id === 'central'" routerLink="/central"
          >{{ item.name }} <small class="small-text-super">line</small></span
        >
        <span *ngIf="item.id === 'district'" routerLink="/district"
          >{{ item.name }} <small class="small-text-super">line</small></span
        >
        <span *ngIf="item.id === 'elizabeth'" routerLink="/elizabeth"
          >{{ item.name }} <small class="small-text-super">line</small></span
        >
        <span *ngIf="item.id === 'piccadilly'" routerLink="/piccadilly"
          >{{ item.name }} <small class="small-text-super">line</small></span
        >
        <span *ngIf="item.id === 'jubilee'" routerLink="/jubilee"
          >{{ item.name }} <small class="small-text-super">line</small></span
        >
        <span *ngIf="item.id === 'victoria'" routerLink="/victoria"
          >{{ item.name }} <small class="small-text-super">line</small></span
        >
        <span *ngIf="item.id === 'northern'" routerLink="/northern"
          >{{ item.name }} <small class="small-text-super">line</small></span
        >
        <span *ngIf="item.id === 'dlr'" routerLink="/dlr"
          >{{ item.name }} <small class="small-text-super">line</small></span
        >
        <span
          *ngIf="item.id === 'london-overground'"
          routerLink="/london-overground"
          >{{ item.name }} <small class="small-text-super">line</small></span
        >
        <span *ngIf="item.id === 'waterloo-city'" routerLink="/waterloo-city"
          >{{ item.name }} <small class="small-text-super">line</small></span
        >
        <span *ngIf="item.id === 'metropolitan'" routerLink="/metropolitan"
          >{{ item.name }} <small class="small-text-super">line</small></span
        >
        <span
          *ngIf="item.id === 'hammersmith-city'"
          routerLink="/hammersmith-city"
          >{{ item.name }} <small class="small-text-super">line</small></span
        >
        <span *ngIf="item.name === 'TfL Rail'" routerLink="/tfl-rail"
          >{{ item.name }} <small class="small-text-super">line</small></span
        >
      </h3>

      <p>
        {{ item.serviceTypes[0].name }}
        <small class="small-text-sub">service</small>
      </p>

      <p
        *ngIf="
          item.lineStatuses[0].statusSeverityDescription === 'Good Service'
        "
        [ngClass]="{
          'good-service':
            item.lineStatuses[0].statusSeverityDescription === 'Good Service',
          'minor-delays':
            item.lineStatuses[0].statusSeverityDescription === 'Minor Delays',
          'severe-delays':
            item.lineStatuses[0].statusSeverityDescription === 'Severe Delays',
          'part-closure':
            item.lineStatuses[0].statusSeverityDescription === 'Part Closure',
          'service-closed':
            item.lineStatuses[0].statusSeverityDescription === 'Service Closed',
          'part-suspended':
            item.lineStatuses[0].statusSeverityDescription === 'Part Suspended'
        }"
      >
        {{ item.lineStatuses[0].statusSeverityDescription }}
      </p>

      <p
        class="reasonTypeWriter"
        *ngIf="
          item.lineStatuses[0].statusSeverityDescription === 'Severe Delays'
        "
        [ngClass]="{
          'good-service':
            item.lineStatuses[0].statusSeverityDescription === 'Good Service',
          'minor-delays':
            item.lineStatuses[0].statusSeverityDescription === 'Minor Delays',
          'severe-delays':
            item.lineStatuses[0].statusSeverityDescription === 'Severe Delays',
          'part-closure':
            item.lineStatuses[0].statusSeverityDescription === 'Part Closure',
          'service-closed':
            item.lineStatuses[0].statusSeverityDescription === 'Service Closed',
          'part-suspended':
            item.lineStatuses[0].statusSeverityDescription === 'Part Suspended'
        }"
      >
        {{ MessageSevere | async }}
      </p>

      <p
        class="reasonTypeWriter"
        *ngIf="
          item.lineStatuses[0].statusSeverityDescription === 'Minor Delays'
        "
        [ngClass]="{
          'good-service':
            item.lineStatuses[0].statusSeverityDescription === 'Good Service',
          'minor-delays':
            item.lineStatuses[0].statusSeverityDescription === 'Minor Delays',
          'severe-delays':
            item.lineStatuses[0].statusSeverityDescription === 'Severe Delays',
          'part-closure':
            item.lineStatuses[0].statusSeverityDescription === 'Part Closure',
          'service-closed':
            item.lineStatuses[0].statusSeverityDescription === 'Service Closed',
          'part-suspended':
            item.lineStatuses[0].statusSeverityDescription === 'Part Suspended'
        }"
      >
        {{ MessageMinor | async }}
      </p>

      <p
        class="reasonTypeWriter"
        *ngIf="
          item.lineStatuses[0].statusSeverityDescription === 'Part Closure'
        "
        [ngClass]="{
          'good-service':
            item.lineStatuses[0].statusSeverityDescription === 'Good Service',
          'minor-delays':
            item.lineStatuses[0].statusSeverityDescription === 'Minor Delays',
          'severe-delays':
            item.lineStatuses[0].statusSeverityDescription === 'Severe Delays',
          'part-closure':
            item.lineStatuses[0].statusSeverityDescription === 'Part Closure',
          'service-closed':
            item.lineStatuses[0].statusSeverityDescription === 'Service Closed',
          'part-suspended':
            item.lineStatuses[0].statusSeverityDescription === 'Part Suspended'
        }"
      >
        {{ MessagePartClosure | async }}
      </p>

      <p
        class="reasonTypeWriter"
        *ngIf="
          item.lineStatuses[0].statusSeverityDescription === 'Service Closed'
        "
        [ngClass]="{
          'good-service':
            item.lineStatuses[0].statusSeverityDescription === 'Good Service',
          'minor-delays':
            item.lineStatuses[0].statusSeverityDescription === 'Minor Delays',
          'severe-delays':
            item.lineStatuses[0].statusSeverityDescription === 'Severe Delays',
          'part-closure':
            item.lineStatuses[0].statusSeverityDescription === 'Part Closure',
          'service-closed':
            item.lineStatuses[0].statusSeverityDescription === 'Service Closed',
          'part-suspended':
            item.lineStatuses[0].statusSeverityDescription === 'Part Suspended'
        }"
      >
        {{ MessageServiceClosed | async }}
      </p>

      <p
        class="reasonTypeWriter"
        *ngIf="
          item.lineStatuses[0].statusSeverityDescription === 'Part Suspended'
        "
        [ngClass]="{
          'good-service':
            item.lineStatuses[0].statusSeverityDescription === 'Good Service',
          'minor-delays':
            item.lineStatuses[0].statusSeverityDescription === 'Minor Delays',
          'severe-delays':
            item.lineStatuses[0].statusSeverityDescription === 'Severe Delays',
          'part-closure':
            item.lineStatuses[0].statusSeverityDescription === 'Part Closure',
          'service-closed':
            item.lineStatuses[0].statusSeverityDescription === 'Service Closed',
          'part-suspended':
            item.lineStatuses[0].statusSeverityDescription === 'Part Suspended'
        }"
      >
        {{ MessagePartSuspended | async }}
      </p>
    </div>
  </div>

  <!-- Reasons Reasons Reasons Reasons Reasons Reasons Reasons -->

  <div *ngFor="let item of tubeData">
    <div
      class="status-severity"
      *ngIf="
        item.lineStatuses[0].statusSeverityDescription === 'Service Closed'
      "
    >
      <h3>Reasons:</h3>
      <hr class="custom-hr" />
      <span
        [ngClass]="{
          'bakerloo-brown': item.id === 'bakerloo',
          'central-red': item.id === 'central',
          'circle-yellow': item.id === 'circle',
          'district-green': item.id === 'district',
          'hammerSmithCity-purple': item.id === 'hammersmith-city',
          'jubilee-silver': item.id === 'jubilee',
          'metropolitan-purple': item.id === 'metropolitan',
          'northern-black': item.id === 'northern',
          'piccadilly-blue': item.id === 'piccadilly',
          'victoria-blue': item.id === 'victoria',
          'waterlooCity-blue': item.id === 'waterloo-city',
          'TFL-rail-blue': item.name === 'TfL Rail',
          'DLR-blue': item.id === 'dlr',
          'LondonOverground-orange': item.id === 'london-overground',
          'elizabeth-purple': item.id === 'elizabeth'
        }"
        >{{ item.lineStatuses[0].reason | firstWord }}:</span
      >
      {{ item.lineStatuses[0].reason | secondWord }}
      <hr class="custom-hr" />
    </div>

    <div
      class="status-severity"
      *ngIf="
        item.lineStatuses[0].statusSeverityDescription === 'Part Suspended'
      "
    >
      <h3>Reasons:</h3>
      <hr class="custom-hr" />
      <span
        [ngClass]="{
          'bakerloo-brown': item.id === 'bakerloo',
          'central-red': item.id === 'central',
          'circle-yellow': item.id === 'circle',
          'district-green': item.id === 'district',
          'hammerSmithCity-purple': item.id === 'hammersmith-city',
          'jubilee-silver': item.id === 'jubilee',
          'metropolitan-purple': item.id === 'metropolitan',
          'northern-black': item.id === 'northern',
          'piccadilly-blue': item.id === 'piccadilly',
          'victoria-blue': item.id === 'victoria',
          'waterlooCity-blue': item.id === 'waterloo-city',
          'DLR-blue': item.id === 'dlr',
          'LondonOverground-orange': item.id === 'london-overground',
          'elizabeth-purple': item.id === 'elizabeth'
        }"
        >{{ item.lineStatuses[0].reason | firstWord }}:</span
      >
      {{ item.lineStatuses[0].reason | secondWord }}
      <hr class="custom-hr" />
    </div>

    <div
      class="status-severity"
      *ngIf="item.lineStatuses[0].statusSeverityDescription === 'Part Closure'"
    >
      <h3>Reasons:</h3>
      <hr class="custom-hr" />
      <span
        [ngClass]="{
          'bakerloo-brown': item.id === 'bakerloo',
          'central-red': item.id === 'central',
          'circle-yellow': item.id === 'circle',
          'district-green': item.id === 'district',
          'hammerSmithCity-purple': item.id === 'hammersmith-city',
          'jubilee-silver': item.id === 'jubilee',
          'metropolitan-purple': item.id === 'metropolitan',
          'northern-black': item.id === 'northern',
          'piccadilly-blue': item.id === 'piccadilly',
          'victoria-blue': item.id === 'victoria',
          'waterlooCity-blue': item.id === 'waterloo-city',
          'TFL-rail-blue': item.name === 'TfL Rail',
          'DLR-blue': item.id === 'dlr',
          'LondonOverground-orange': item.id === 'london-overground',
          'elizabeth-purple': item.id === 'elizabeth'
        }"
        >{{ item.lineStatuses[0].reason | firstWord }}:</span
      >
      {{ item.lineStatuses[0].reason | secondWord }}
      <hr class="custom-hr" />
    </div>

    <div
      class="status-severity"
      *ngIf="item.lineStatuses[0].statusSeverityDescription === 'Minor Delays'"
    >
      <h3>Reasons:</h3>
      <hr class="custom-hr" />
      <span
        [ngClass]="{
          'bakerloo-brown': item.id === 'bakerloo',
          'central-red': item.id === 'central',
          'circle-yellow': item.id === 'circle',
          'district-green': item.id === 'district',
          'hammerSmithCity-purple': item.id === 'hammersmith-city',
          'jubilee-silver': item.id === 'jubilee',
          'metropolitan-purple': item.id === 'metropolitan',
          'northern-black': item.id === 'northern',
          'piccadilly-blue': item.id === 'piccadilly',
          'victoria-blue': item.id === 'victoria',
          'waterlooCity-blue': item.id === 'waterloo-city',
          'TFL-rail-blue': item.name === 'TfL Rail',
          'DLR-blue': item.id === 'dlr',
          'LondonOverground-orange': item.id === 'london-overground',
          'elizabeth-purple': item.id === 'elizabeth'
        }"
        >{{ item.lineStatuses[0].reason | firstWord }}:</span
      >
      {{ item.lineStatuses[0].reason | secondWord }}
      <hr class="custom-hr" />
    </div>

    <div
      class="status-severity"
      *ngIf="item.lineStatuses[0].statusSeverityDescription === 'Severe Delays'"
    >
      <h3>Reasons:</h3>
      <hr class="custom-hr" />
      <span
        [ngClass]="{
          'bakerloo-brown': item.id === 'bakerloo',
          'central-red': item.id === 'central',
          'circle-yellow': item.id === 'circle',
          'district-green': item.id === 'district',
          'hammerSmithCity-purple': item.id === 'hammersmith-city',
          'jubilee-silver': item.id === 'jubilee',
          'metropolitan-purple': item.id === 'metropolitan',
          'northern-black': item.id === 'northern',
          'piccadilly-blue': item.id === 'piccadilly',
          'victoria-blue': item.id === 'victoria',
          'waterlooCity-blue': item.id === 'waterloo-city',
          'TFL-rail-blue': item.name === 'TfL Rail',
          'DLR-blue': item.id === 'dlr',
          'LondonOverground-orange': item.id === 'london-overground',
          'elizabeth-purple': item.id === 'elizabeth'
        }"
        >{{ item.lineStatuses[0].reason | firstWord }}:</span
      >
      {{ item.lineStatuses[0].reason | secondWord }}
      <hr class="custom-hr" />
    </div>
  </div>
</section>
