#home {
  background: black; 
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSI+CjxyZWN0IHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIgZmlsbD0iIzI4MjgyOCI+PC9yZWN0Pgo8Y2lyY2xlIGN4PSIzIiBjeT0iNC4zIiByPSIxLjgiIGZpbGw9IiMzOTM5MzkiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIzIiBjeT0iMyIgcj0iMS44IiBmaWxsPSJibGFjayI+PC9jaXJjbGU+CjxjaXJjbGUgY3g9IjEwLjUiIGN5PSIxMi41IiByPSIxLjgiIGZpbGw9IiMzOTM5MzkiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIxMC41IiBjeT0iMTEuMyIgcj0iMS44IiBmaWxsPSJibGFjayI+PC9jaXJjbGU+Cjwvc3ZnPg==");
}

.reasonTypeWriter {
  width: 100%;
  height: 20px;
}
.main {
  flex: 1;
  min-width: 120px;
  padding: 0.16%;
  background-color: rgba(51, 51, 51, 1);
  color: whitesmoke;
  margin: 4px 2px;
  line-height: 1.2em;
 }
.status-severity {
  padding: 0.5%;
  background-color: rgba(51, 51, 51, 1);
  color: whitesmoke;
  margin: 4px;
}
.small-text-super {
  vertical-align: super;
  font-size: 0.6em;
}
.small-text-sub {
  vertical-align: sub;
  font-size: 0.6em;
}

.good-service {
  color: green;
  font-size: 0.8em;
}
.minor-delays {
  color: lightblue;
  font-size: var(--reason-typewriter-text-size);
}
.part-closure {
  color: orange;
  font-size: var(--reason-typewriter-text-size);
}
.severe-delays {
  color: crimson;
  font-size: var(--reason-typewriter-text-size);
}
.service-closed {
  color: red;
  font-size: var(--reason-typewriter-text-size);
}
.part-suspended {
  color: pink;
  font-size: var(--reason-typewriter-text-size);
}

.night-text {
  color: black;
  font-size: 0.8em;
}
.bakerloo-brown {
  font-weight: 700;
  background-color: var(--bakerloo-brown);
  padding: 4px 2px;
  cursor: pointer;
}
.central-red {
  font-weight: 700;
  background-color: var(--central-red);
  padding: 4px 2px;
  cursor: pointer;
}
.circle-yellow {
  font-weight: 700;
  background-color: var(--circle-yellow);
  padding: 4px 2px;
  cursor: pointer;
}
.district-green {
  font-weight: 700;
  background-color: var(--district-green);
  padding: 4px 2px;
  cursor: pointer;
}
.hammerSmithCity-purple {
  font-weight: 700;
  background-color: var(--hammersmith-city-purple);
  padding: 4px 2px;
  cursor: pointer;
}
.jubilee-silver {
  font-weight: 700;
  background-color: var(--jubilee-silver);
  padding: 4px 2px;
  cursor: pointer;
}
.metropolitan-purple {
  font-weight: 700;
  background-color: var(--metropolitan-purple);
  padding: 4px 2px;
  cursor: pointer;
}
.northern-black {
  font-weight: 700;
  background-color: var(--northern-black);
  padding: 4px 2px;
  cursor: pointer;
}
.piccadilly-blue {
  font-weight: 700;
  background-color: var(--piccadilly-blue);
  padding: 4px 2px;
  cursor: pointer;
}
.victoria-blue {
  font-weight: 700;
  background-color: var(--victoria-blue);
  padding: 4px 2px;
  cursor: pointer;
}
.waterlooCity-blue {
  font-weight: 700;
  background-color: var(--waterloo-city-blue);
  padding: 4px 2px;
  cursor: pointer;
}
.TFL-rail-blue {
  font-weight: 700;
  background-color: var(--TfL-rail-blue);
  padding: 4px 2px;
  cursor: pointer;
}
.DLR-blue {
  font-weight: 700;
  background-color: var(--DLR-blue);
  padding: 4px 2px;
  cursor: pointer;
}
.LondonOverground-orange {
  font-weight: 700;
  background-color: var(--london-overground-orange);
  padding: 4px 2px;
  cursor: pointer;
}
